@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.playwrite-it-moderna {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }

#head1 {
    text-align: center;
    border: thick solid rgb(0, 68, 128);
    color: yellow;
}
